button.add {
    width: 50%;
    padding: 10px;
    color: black;
    border-radius: 5px;
    cursor: pointer;
    background-color: lightgreen;
    font-size: 20px;
    margin-top: 30px;
}

div.add_page {
    text-align: center;
    height: 50vh;
}

.add_page a {
    text-decoration: none;
    color: black;
}